<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-2">
    <a class="navbar-brand" href="/client">Auth490</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/client/key">Key</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/client/view">View</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/client/registry">Registry</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/client/data">Data</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/client/wallet">Wallet</a>
            </li>
        </ul>
    </div>
</nav>
