<html>
    <head>
        {% include "client/head.html" %}
        <style>
            .table-textarea{
                height: 250px;
            }
            .qr {
                width: 250px;
            }
        </style>
    </head>
    <body>
        {% include "client/nav.html" %}
        <div class="p-4">
            <form method="POST">
                <div class="input-group mb-3">
                    <input id="data" name="data" class="form-control" placeholder="DATA:" autocomplete="off" />
                    <div class="input-group-append">
                        <input class="btn btn-primary" type="submit" value="Add"/>
                    </div>
                </div>
            </form>

            <table class="table table-light table-bordered">
                <tr>
                    <th>View</th>
                    <th>Data</th>
                    <th>QR</th>
                    <th>Operation</th>
                </tr>
                {% for data in wallet.values %}
                <tr>
                    <td><textarea class="table-textarea" disabled>{{ data }}</textarea></td>
                    <td><textarea class="table-textarea" disabled>{{ data.qr_serialize() }}</textarea></td>
                    <td><img class="qr" src="{{ data.qr_uri() }}"/></td>
                    <td>
                        <form method="POST" action="/client/wallet/delete/{{ loop.index0 }}" class="d-flex justify-content-center pt-4">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
